<div
  *ngIf="!loading; else loader"
  class="table_wrap"
>
  <table
    class="striped highlight white z-depth-1"
    *ngIf="admins.length !== 0; else empty"
  >
    <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of admins">
      <td>
        <a [routerLink]="[admin._id, 'edit']">{{admin.name}}</a>
      </td>
      <td>
        <a [routerLink]="[admin._id, 'edit']">{{admin.email}}</a>
      </td>
      <td>
        <i class="material-icons pointer delete-link" (click)="removeAdmin(admin)">delete</i>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <div class="center">Нет админов</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
