<div class="wrap row lime lighten-5">
  <ul id="slide-out" class="sidenav sidenav-fixed col l3">
    <div class="user-view">
      <div class="background">
        <img [src]="'assets/admin/admin_abstract_sidebar_background.jpg'">
      </div>
      <div class="sidenav-user-view__avatar">
        <a href="#"><img class="circle" [src]="'assets/admin/default_avatar.jpg'"></a>
      </div>
      <div class="sidenav-user-view__links">
        <a href="#" class="white-text">John Doe</a>
        <a href="#" class="white-text">jdandturk@gmail.com</a>
        <a href="#" class="white-text" (click)="logout($event)">Выйти</a>
      </div>
    </div>

    <li routerLinkActive="active">
      <a routerLink="/admin/dashboard" class="waves-effect">
        <i class="material-icons">home</i> Панель управления
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin/admins" class="waves-effect">
        <i class="material-icons">group</i> Список админов
      </a>
    </li>
    <li routerLinkActive="active">
      <a href="#!" class="waves-effect">
        <i class="material-icons">cloud</i> First Link With Icon
      </a>
    </li>
  </ul>

  <div class="col offset-l3 l9 m12 s12 content_wrap">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
          <a href="#!" class="brand-logo">SampleAppAngular</a>
        </div>
      </nav>
    </div>

    <div class="content_data">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
