<div
  *ngIf="admins$ | async as admins; else loader"
  class="table_wrap"
>
  <table
    class="striped highlight white z-depth-1"
    *ngIf="admins.length !== 0; else empty"
  >
    <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of admins">
      <td>{{admin.name}}</td>
      <td>{{admin.email}}</td>
      <td>actions</td>
    </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <div class="center">Нет админов</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
