@import "~materialize-css/sass/components/color-variables";
@import "./colors.scss";
@import "~materialize-css/sass/materialize.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.auth_wrapper{
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth_wrapper .card {
  width: 400px;
  flex-direction: column;
}

.auth_wrapper .card-action a {
  margin-top: 8px;
  margin-right: 0 !important;
  float: right;
}
