@import "~materialize-css/sass/components/color-variables";
@import "./colors.scss";
@import "~materialize-css/sass/materialize.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.toast {
  background-color: $primary-color;
}

.toast.error {
  background-color: color("deep-orange", "accent-4");
}

nav i.material-icons {
  font-size: 2.5rem;
}

.material-icons.pointer {
  cursor: pointer;
}

.auth_wrapper {
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth_wrapper .card {
  width: 400px;
  flex-direction: column;
}

.auth_wrapper .card-action a {
  margin-top: 8px;
  margin-right: 0 !important;
  float: right;
}

.wrap {
  background: #fffde7;
  background: -webkit-linear-gradient(to right, #ffe0b2, #fffde7);
  background: linear-gradient(to right, #ffe0b2, #fffde7);

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.wrap .sidenav {
  background: #232526;
  background: -webkit-linear-gradient(to left, #414345, #232526);
  background: linear-gradient(to left, #414345, #232526);

  padding: 0;

  .user-view {
    padding: 32px 32px 22px;
  }

  li {
    &:hover, &.active {
      background: rgba(255, 255, 255, .1);
    }

    a {
      color: #fff;
    }

    i.material-icons {
      margin-right: 16px;
      color: #fff;
    }
  }
}

.sidenav-user-view__avatar {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 10px 0;
}

.sidenav-user-view__links {
  display: inline-block;
  vertical-align: top;

  a {
    display: block;
    margin-bottom: 8px;
    line-height: 100%;
  }
}

.content_wrap {
  padding: 0 !important;
}

nav {
  background: -webkit-linear-gradient(to right, #0D47A1, #0575E6);
  background: linear-gradient(to right, #0D47A1, #0575E6);
}

.nav-wrapper .brand-logo {
  padding: 0 20px;
}

.table_wrap {
  margin: 20px;

  table {
    border-radius: 2px;
  }

  .material-icons.delete-link:hover {
    color: color("red", "base");
  }
}

.form_wrapper {
  margin: 20px;
  padding: 20px;
}

.form_error_list{
  color: color("red", "base");
}
